
.header {
    padding: 16px var(--padding);
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all ease 0.3s;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        transform: translateX(-50%);
        background-color: red;
        transition: all ease 0.3s;
    }

    &.active {
        background-color: black;
    }

    &.active::before {
        width: 100%;
    }

    .container {
        display: flex;
        justify-content: space-between;
    
        .logo {
            display: flex;
            align-items: center;
    
            img {
                width: 45px;
                height: 45px;
                margin-right: 8px;
            }
    
            h2{
                font-size: 2rem;
                transition: all ease  0.4s;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        .menu {
            display: flex;
            align-items: center;
            margin-right: 16px;

            .menu-item {
                padding: 12px 16px;
                font-size: 1.1rem;
                font-weight: 700;
                cursor: pointer;
                position: relative;

                p{
                    color: white;
                    transition: width ease 0.4s;
                }


                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    left: 50%;
                    transition: width ease 0.4s;
                    background-color: var(--primary-color);
                    transform: translateX(-50%);
                    
                }

                &:hover::after,
                &:hover p {
                    width: 100%;
                    color: var(--primary-color);
                }
            }
        }
    }
}

.cotainer-mb {
    display: none;

}

.logo-mb {
    display: flex;
    align-items: center;
}

.logo-mb img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.logo-mb h2 {
    font-size: 1.1rem;
    transition: all ease  0.4s;
}
            
.logo-mb h2:hover {
    color: var(--primary-color);
}

@keyframes fadeIn{
    0%{
        left: 100%;
        opacity: 0;
    }
    100%{
        left: 50%;
        opacity: 1;
    }
}

.iconBars-mb {
    font-size: 22px;
    transition: all ease  0.4s;
}

.iconBars-mb:hover{
    color: var(--primary-color);
}

.submenu-mb {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(39, 39, 39, 0.4);
}

.submenu-mb-inner {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    padding-top: 100px;
    background-color: rgb(39, 39, 39);
    animation: fadeIn 0.4s ease forwards;
}

.menu-item__mb{
    padding: 12px 16px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    position: relative;

}

.menu-item__mb p{
    color: white;
    transition: width ease 0.4s;
}


.menu-item__mb::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    left: 50%;
    transition: width ease 0.4s;
    background-color: var(--primary-color);
    transform: translateX(-50%);
    
}

.menu-item__mb:hover::after,
.menu-item__mb:hover p {
    width: 100%;
    color: var(--primary-color);
}

.menuClose-mb {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 20px;
    cursor: pointer;
    transition: width ease 0.4s;
}

.menuClose-mb:hover{
    color: var(--primary-color);
}



.submenu-mb.active {
    display: block;
}
